 1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [11]:
def is_two(x):
    if x == 2:
        return True
    elif x == '2':
        return True
    else: 
        return False
    
is_two(2)

True

2. Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [3]:
def is_vowel(x):
    if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
        return True
    else:
        return False
is_vowel('a')

True

3. Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [5]:
def is_consonant(x):
    if x == 'B'or 'C' or 'D' or 'F' or 'G' or 'H' or 'J' or 'K' or 'L' or 'M' or 'N' or 'P' or 'Q' or 'R' or 'S' or 'T' or 'V' or 'W' or 'X' or 'Y' or 'Z':
        return True
    else:
        return False
is_consonant('d')

True

4. Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [17]:
def capitalize_consonant(x):
    if x == 'B'or 'C' or 'D' or 'F' or 'G' or 'H' or 'J' or 'K' or 'L' or 'M' or 'N' or 'P' or 'Q' or 'R' or 'S' or 'T' or 'V' or 'W' or 'X' or 'Y' or 'Z':
        print(x.capitalize())

capitalize_consonant('d')

D

5. Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [29]:
def calculate_tip(x, y):
    tip_percentage = x * y 
    return y - tip_percentage

calculate_tip(0.1, 20)

18.0

6. Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [20]:
def apply_discount(x, y):
    discount = x * y
    return x - discount

apply_discount(40, .2)

32.0

7. Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [21]:
def handle_commas(x):
    return x.replace(',',"")
handle_commas('1,000,000')

'1000000'

8. Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [28]:
def get_letter_grade(x):
    if x >= 88 and x >= 100:
        print('A')
    elif x >= 80:
        print('B')
    elif x >= 67:
        print('C')
    elif x >= 60:
        print('D')
    else:
        print('F')
get_letter_grade(40)

F

9. Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [31]:
def remove_vowels(x):
    return x.replace('a' or 'e' or 'i' or 'o' or 'u', "")
remove_vowels('banana')

'bnn'

10. Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
* anything that is not a valid python identifier should be removed
* leading and trailing whitespace should be removed
* everything should be lowercase
* spaces should be replaced with underscores
#### for example:
  * Name will become name
  * First Name will become first_name
  * % Completed will become completed

In [76]:
def normalize_name(x):
    x = x.replace("*", "")
    x = x.replace("%", "")
    x = x.replace("0", "")
    x = x.replace("@", "")
    x = x.replace("$", "")
    x = x.replace("^", "")
    x = x.replace("&", "")
    x = x.replace("()", "")
    x = x.replace("0", "")
    x = x.replace(" ", "_")
    x = x.replace("1", "")
    x = x.replace("2", "")
    x = x.replace("3", "")
    x = x.replace("4", "")
    x = x.replace("5", "")
    x = x.replace("6", "")
    x = x.replace("7", "")
    x = x.replace("8", "")
    x = x.replace("9", "")
    return x
normalize_name("jo_ann*%019()")

'jo_ann'

Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
def accumu(lis):
    total = 0
    for x in lis:
        total += x
        yield total

In [4]: list(accumu([4,6,12]))

In [137]:
def accumu(lis):
    total = 0
    for x in lis:
        total += x
        yield total
list(accumu([4,6,12]))

TypeError: 'list' object is not callable