# Exercises Part I

In [31]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [49]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(fruits)

### 1. Determine the number of elements in fruits.

In [83]:
fruits.size

17

### 2. Output only the index from fruits.

In [34]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

### 3. Output only the values from fruits.

In [35]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

### 4. Confirm the data type of the values in fruits.

In [36]:
type(fruits)

pandas.core.series.Series

### 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [122]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [38]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [39]:
fruits.sample(2)

8       honeydew
15    gooseberry
dtype: object

### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [73]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7. Run the code necessary to produce only the unique string values from fruits.

In [41]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

### 8. Determine how many times each unique string value occurs in fruits.

In [97]:
fruits.value_counts()

kiwi                4
mango               2
honeydew            1
honeycrisp apple    1
strawberry          1
blueberry           1
pineapple           1
gala apple          1
gooseberry          1
papaya              1
blackberry          1
tomato              1
watermelon          1
dtype: int64

### 9. Determine the string value that occurs most frequently in fruits.

In [123]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

### 10. Determine the string value that occurs least frequently in fruits.

In [128]:
fruits.value_counts().tail(11)

honeydew            1
honeycrisp apple    1
strawberry          1
blueberry           1
pineapple           1
gala apple          1
gooseberry          1
papaya              1
blackberry          1
tomato              1
watermelon          1
dtype: int64

In [129]:
fruits.value_counts().nsmallest(n = 1, keep = 'all')

honeydew            1
honeycrisp apple    1
strawberry          1
blueberry           1
pineapple           1
gala apple          1
gooseberry          1
papaya              1
blackberry          1
tomato              1
watermelon          1
dtype: int64

# Exercises Part II

### 1. Capitalize all the string values in fruits.

In [131]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

### 2. Count the letter "a" in all the string values (use string vectorization).

In [167]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### 3. Output the number of vowels in each and every string value.

In [153]:
fruits.apply(lambda row: row.count('a' or 'i' or 'e' or 'o'or 'u'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### 4. Write the code to get the longest string value from fruits.

In [184]:
max(fruits, key=len)

'honeycrisp apple'

### 5. Write the code to get the string values with 5 or more letters in the name.

In [186]:
fruits.size

17

### 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [191]:
fruits.apply((lambda row: row.count('o') >= 2)).value_counts()

False    15
True      2
dtype: int64

### 7. Write the code to get only the string values containing the substring "berry".

In [196]:
fruits.apply(lambda row: row.count('berry')).value_counts()

0    13
1     4
dtype: int64

### 8. Write the code to get only the string values containing the substring "apple".

In [197]:
fruits.apply(lambda row: row.count('apple')).value_counts()

0    14
1     3
dtype: int64

### 9. Which string value contains the most vowels?